<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:ital,wght@0,500;0,700;1,400;1,600&display=swap');
</style>
  
*{   
    font-family: 'Lato',sans-serif ;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif; 
}
.btn-pm{
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    
}
header{
     background-color: cornsilk;
     padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.nav-title{
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}
nav>ul{
    display: flex;
    list-style: none;
   
}
nav li{
    list-style: none;
    margin: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-content{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.banner img{
    width:100%;
    margin-top: 30px;
}
 @media screen and(max-width :576px;) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;

    }
    
 }
 main{
    max-width: 1440px;
    margin:0 auto;
 }
 .teams-container{
    display: flex;
    text-align: center;
 }
 .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
 }
 .team-content{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 200px;
 }
 .team-title{
    font-size: 2.8rem;
 }
 .team-title .quick{
    color: #727272;
    font-weight: 500;
    
 }
 .team-title .F{
    color: #FF900E;
    font-weight: 700;
 }